div.BarChart text {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

div.BarChart g.axis.x-axis > text {
    cursor: pointer;
}

div.BarChart rect {
    cursor: pointer;
    -webkit-transition: fill .2s;
    -moz-transition: fill .2s;
    -ms-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s;
}

div.BarChart rect:hover {
    fill: #80DEEA;
}

div.Tooltip {
    position: fixed;
    opacity: 0;
    transition: opacity .15s;
    transition-delay: .3s;
    padding: .85rem;
    border: 1px solid #bbb;
    background: #fafafa;
    overflow: visible;
    white-space: nowrap;
}

div.Tooltip.show { 
  z-index: 100;
  transition-delay: 0s;    
    opacity: 1;
}

div.Tooltip span.dx{
    font-size: .8rem;
    color: #888;
}

div.Tooltip span.key {
    font-weight: 700;
}

