div.BarChart text {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    fill: #333;
    cursor: pointer;
}

div.BarChart rect {
    cursor: pointer;
    -webkit-transition: fill .2s;
    -moz-transition: fill .2s;
    -ms-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s;
}

div.BarChart rect:hover {
    fill: #80DEEA;
}
