div.Tooltip {
    position: absolute;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 999;
}

div.Tooltip span.dx{
    font-size: .8rem;
    color: #888;
}

div.Tooltip span.key {
    font-weight: 700;
}

